import("data.table")
import("grid")
importFrom(Cairo,Cairo)
importFrom(colorspace,rainbow_hcl,diverge_hcl)
importFrom(doMC,registerDoMC)
importFrom(doMPI,closeCluster,registerDoMPI,startMPIcluster)
importFrom(doParallel,registerDoParallel)
importFrom(doRedis,registerDoRedis,redisWorker,removeQueue,startLocalWorkers)
importFrom(foreach,'%dopar%',foreach,registerDoSEQ)
importFrom(doSNOW,registerDoSNOW)
importFrom(gridBase,gridFIG)
importFrom(iterators,iter)
importFrom(multicore,mclapply)
importFrom(plyr,rbind.fill,round_any)
importFrom(quantreg,rq)
importFrom(reshape2,melt)
importFrom(RSQLite,dbGetQuery,dbWriteTable,dbConnect,dbDisconnect,SQLite)
importFrom(sn,rsn)
importFrom(splines,bs)

export(
	"abcSGP",
	"analyzeSGP",
	"as.splineMatrix",
	"baselineSGP",
	"bubblePlot",
	"bubblePlot_Styles",
	"capwords",
	"combineSGP",
	"gofSGP",
	"growthAchievementPlot",
	"is.splineMatrix",
	"is.SGP",
	"outputSGP",
	"prepareSGP",
	"studentGrowthPercentiles",
	"studentGrowthPlot",
	"studentGrowthPlot_Styles",
	"studentGrowthProjections",
	"summarizeSGP",
	"testSGP",
	"updateSGP",
	"visualizeSGP"
)

exportClasses(
	"SGP",
	"splineMatrix"
)
