export(abcSGP)
export(analyzeSGP)
export(as.splineMatrix)
export(baselineSGP)
export(bubblePlot)
export(bubblePlot_Styles)
export(capwords)
export(combineSGP)
export(courseProgressionSGP)
export(createKnotsBoundaries)
export(getStateAbbreviation)
export(gofPrint)
export(gofSGP)
export(growthAchievementPlot)
export(is.splineMatrix)
export(is.SGP)
export(outputSGP)
export(prepareSGP)
export(rliSGP)
export(setNamesSGP)
export(studentGrowthPercentiles)
export(studentGrowthPlot)
export(studentGrowthPlot_Styles)
export(studentGrowthProjections)
export(summarizeSGP)
export(testSGP)
export(updateSGP)
export(visualizeSGP)
exportClasses(SGP)
exportClasses(splineMatrix)
import(data.table)
import(datasets)
import(grid)
import(methods)
importFrom(Cairo,Cairo,CairoSVG)
importFrom(carrier, crate)
importFrom(collapse, add_stub, add_vars, collapv, ffirst, fmean, fmedian, fnrow, fsd, fscale, ftransform, ftransformv, fvar, get_elem, get_vars, join, na_omit, pivot, qDT, qF, qM, qtable, .quantile, .range, replace_outliers, roworderv, rm_stub, setColnames, setop, setv, ss)
importFrom(colorspace,rainbow_hcl,diverge_hcl)
importFrom(crayon,bold,cyan,green,magenta,red,yellow)
importFrom(curl,curl_fetch_memory,new_handle)
importFrom(digest,digest)
importFrom(equate,freqtab,equate)
importFrom(graphics,par,plot,text)
importFrom(grDevices,colorRampPalette,col2rgb,dev.off,extendrange,hsv,pdf,rgb,rgb2hsv)
importFrom(gridBase,gridFIG)
importFrom(gtools,mixedsort)
importFrom(jsonlite,toJSON)
importFrom(matrixStats,weightedMedian)
importFrom(mirai, collect_mirai, daemons, mirai_map)
importFrom(parallel, mclapply, detectCores)
importFrom(quantreg,rq)
importFrom(randomNames,randomNames)
importFrom(rlang,inject)
importFrom(Rfast, coldiffs, Rnorm, Round, rowSort, rowMaxs, rowMins, rowVars)
importFrom(sn,rsn)
importFrom(splines,bs)
importFrom(svglite,svglite)
importFrom(stats,approx,approxfun,as.formula,lm,median,model.frame,model.matrix,model.response,na.omit,ppoints,predict,quantile,reshape,rnorm,runif,sd,setNames,spline,splinefun,stepfun,var,weighted.mean,cor)
importFrom(toOrdinal,toOrdinal)
importFrom(utils,compareVersion,Rprof,head,object.size,packageVersion,read.table,recover,tail,type.convert,unzip,write.table,zip)
