export(abcSGP)
export(analyzeSGP)
export(as.splineMatrix)
export(baselineSGP)
export(bubblePlot)
export(bubblePlot_Styles)
export(capwords)
export(combineSGP)
export(courseProgressionSGP)
export(createKnotsBoundaries)
export(getStateAbbreviation)
export(gofPrint)
export(gofSGP)
export(growthAchievementPlot)
export(is.splineMatrix)
export(is.SGP)
export(outputSGP)
export(prepareSGP)
export(rliSGP)
export(setNamesSGP)
export(studentGrowthPercentiles)
export(studentGrowthPlot)
export(studentGrowthPlot_Styles)
export(studentGrowthProjections)
export(summarizeSGP)
export(testSGP)
export(updateSGP)
export(visualizeSGP)
exportClasses(SGP)
exportClasses(splineMatrix)
import(data.table)
import(datasets)
import(grid)
import(methods)
importFrom(Cairo,Cairo,CairoSVG)
importFrom(callr,r_bg)
importFrom(collapse, add_stub, add_vars, collapv, fmean, fmedian, fnrow, fsd, ftransform, ftransformv, fvar, get_vars, join, na_omit, pivot, .quantile, replace_outliers, roworderv, rm_stub)
importFrom(colorspace,rainbow_hcl,diverge_hcl)
importFrom(crayon,bold,green,magenta,red,yellow)
importFrom(digest,digest)
importFrom(doParallel,registerDoParallel)
importFrom(equate,freqtab,equate)
importFrom(foreach,'%dopar%',foreach,registerDoSEQ,getDoParName,setDoPar)
importFrom(graphics,par,plot,text)
importFrom(grDevices,colorRampPalette,col2rgb,dev.off,extendrange,hsv,pdf,rgb,rgb2hsv)
importFrom(gridBase,gridFIG)
importFrom(gtools,mixedsort)
importFrom(iterators,iter)
importFrom(jsonlite,toJSON)
importFrom(matrixStats,weightedMedian)
importFrom(parallel,clusterApplyLB,clusterEvalQ,clusterExport,detectCores,makeCluster,makePSOCKcluster,mclapply,parLapplyLB,parLapply,stopCluster)
importFrom(quantreg,rq)
importFrom(randomNames,randomNames)
importFrom(rngtools,getRNG,setRNG,RNGseed,RNGseq,RNGtype,showRNG)
importFrom(RSQLite,dbGetQuery,dbWriteTable,dbConnect,dbDisconnect,dbListFields,dbSendQuery,dbListResults,dbClearResult,SQLite)
importFrom(sn,rsn)
importFrom(splines,bs)
importFrom(svglite,svglite)
importFrom(stats,approx,approxfun,lm,median,na.omit,ppoints,predict,quantile,reshape,rnorm,runif,sd,spline,splinefun,stepfun,var,weighted.mean,cor)
importFrom(toOrdinal,toOrdinal)
importFrom(utils,compareVersion,Rprof,head,object.size,packageVersion,read.table,recover,tail,type.convert,unzip,write.table,zip)
